<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  This workshop is part of the
  <a href="https://resbaz.github.io/resbaz2018/sydney/">Research Bazaar Sydney 2018</a>
  event. 
  This hands-on workshop will cover: useful software development skills and tools,
  including debugging, testing, and task automation; visualisation of datasets via the web;
  and data analysis and reduction using seaborn and pandas.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
